.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #54a0f1;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  position: relative
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: opacity 0.2s ease;
}

.navLink:hover {
  opacity: 0.8;
}

.logoutButton {
  background-color: #ba0f20;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logoutButton:hover {
  background-color: #ba0f20cc;
}
