<div class="user-card">
  
  <div class="user-avatar-container" *ngIf="user.profilePicture">
    <img [src]="user.profilePicture" alt="Profilna slika" class="profile-picture">
  </div>

  <h2>{{ user.firstName }} {{ user.lastName }}</h2>

  <div *ngIf="averageRating !== null" class="ratingDisplay">
    <span class="ratingText">Prosečna ocena: </span>
    <span class="ratingValue">{{ averageRating | number:'1.2-2' }}/5</span>
    <svg class="starIcon" viewBox="0 0 24 24" fill="#FFD700" stroke="none">
        <path d="M12 .587l3.668 7.568 8.332 1.208-6.002 5.869 1.416 8.332-7.414-3.89-7.414 3.89 1.416-8.332-6.002-5.869 8.332-1.208z"/>
    </svg>
    <span class="reviewCount">({{ totalReviews }})</span>
  </div>

  <p class="phone-number" *ngIf="showPhoneNumber && user.phoneNumber">
    Telefon: <strong>{{ user.phoneNumber }}</strong>
  </p>

  <div class="skills-section">
    <h4>Veštine korisnika</h4>
    
    <div *ngIf="activeSkills.length === 0" class="no-skills">
        Nema aktivnih veština za prikaz.
    </div>

    <ul class="skill-list" *ngIf="activeSkills.length > 0">
      <li *ngFor="let skill of activeSkills">
        <div class="skill-item">
          <strong class="skill-category">{{ skill.title }}:</strong>
          <span class="skill-description">{{ skill.description }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>