<div class="offersContainer">
  <h2>Ponude za zahtev: {{ request?.title }} ({{ request?.description }})</h2>

  <div *ngIf="offers.length === 0" class="noOffers">
    <h4>Trenutno nema ponuda.</h4>
  </div>

  <div class="offersTable" *ngIf="offers.length > 0">
    <div class="tableHeader">
      <div class="column">Korisnik</div>
      <div class="column">Ponuda</div>
      <div class="column">Zauzvrat</div>
      <div class="column">Status</div>
      <div class="column">Akcija</div>
    </div>

    <div class="tableRow" *ngFor="let offer of offers">
      <div class="column">
        <button class="linkButton" (click)="viewProfile(offer.offerer.id)">
          {{ '@' + offer.offerer.username }}
        </button>
      </div>
      <div class="column">{{ offer.offeredSkill.title }} - {{ offer.offeredSkill.description }}</div>
      <div class="column">{{ offer.requestedSkill.title }} - {{ offer.requestedSkill.description }}</div>
      <div class="column">{{ offer.status }}</div>
      <div class="column">
        <ng-container *ngIf="offer.status === SwapOfferStatus.PENDING">
          <button (click)="acceptOffer(offer)">Prihvati</button>
          <button (click)="rejectOffer(offer)">Odbij</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
