<div class="filter-bar">
  <div class="filter-group">
    <select [(ngModel)]="selectedCategoryUnapplied">
      <option [ngValue]="null">Moje kategorije</option>
      <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
    </select>
    <div class="buttons">
      <button (click)="filterByCategory()">Primeni filter</button>
      <button (click)="clearFilter()">Očisti filter</button>
    </div>
  </div>
</div>

<h2>
  {{selectedCategory ? 'Zahtevi u kategoriji: ' + selectedCategory : 'Trenutno dostupni zahtevi'}}
</h2>

<div *ngIf="requests.length === 0">
  <p>Nema dostupnih zahteva.</p>
</div>

<div *ngIf="requests.length > 0">
  <table border="1" width="100%" style="margin-top: 20px;">
    <thead>
      <tr>
        <th>Korisnik</th>
        <th>Kategorija</th>
        <th>Opis</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let req of requests">
        <td>
          <button class="linkButton" (click)="viewProfile(req.user.id)">
            {{ '@' + req.user.username }}
          </button>
        </td>
        <td>{{ req.title }}</td>
        <td>{{ req.description }}</td>
        <td>
          <button (click)="openOfferForm(req)">Ponudi razmenu</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <app-skill-request-form
    *ngIf="showOfferFormModal"
    [request]="selectedRequest"
    (onClose)="closeOfferForm()"
  ></app-skill-request-form>
</div>
