<div class="filter-bar">
  <div class="filter-group">
    <select [(ngModel)]="selectedStatusUnapplied">
      <option [ngValue]="null">sve ponude</option>
      <option *ngFor="let statusValue of offerStatusValues" [value]="statusValue">
        {{ statusValue }}
      </option>
    </select>
    
    <div class="buttons">
      <button (click)="filterByStatus()">Primeni filter</button>
      <button (click)="clearStatusFilter()">Očisti filter</button>
    </div>
  </div>
</div>

<div class="offersContainer">
  <h2>Moje Ponude</h2>

  <div *ngIf="offers.length === 0" class="noOffers">
    <h4>Trenutno niste poslali nijednu ponudu.</h4>
  </div>

  <div class="offersTable" *ngIf="offers.length > 0">
    <div class="tableHeader">
      <div class="column">Podnosilac zahteva</div>
      <div class="column">Od mene se traži:</div>
      <div class="column">Zahtevam zauzvrat:</div>
      <div class="column">Status</div>
      <div class="column"></div>
    </div>

    <div class="tableRow" *ngFor="let offer of offers">
      <div class="column">
        <span 
          class="username-link" 
          (click)="viewRequestOwnerProfile(offer.request.user.id)">
          {{ '@' + offer.request.user.username }}
        </span>
      </div>
      <div class="column">{{ offer.requestedSkill.title }} - {{ offer.requestedSkill.description }}</div>
      <div class="column">{{ offer.offeredSkill.title }} - {{ offer.offeredSkill.description }}</div>
      <div class="column">{{ offer.status }}</div>
      <div class="column">
        <ng-container [ngSwitch]="offer.status">
          
          <ng-container *ngSwitchCase="SwapOfferStatus.ACCEPTED">
            <button 
              (click)="handleAction(offer)" 
              class="contact-btn">
              Kontaktiraj
            </button>
          </ng-container>

          <ng-container *ngSwitchCase="SwapOfferStatus.DONE">
            <button 
              (click)="handleAction(offer)" 
              class="complete-btn">
              Oceni partnera
            </button>
          </ng-container>

          <span *ngSwitchCase="SwapOfferStatus.REJECTED" class="rejected-status">Odbijeno</span>
          
          <span *ngSwitchCase="SwapOfferStatus.PENDING" class="pending-status">Na čekanju</span>

          <span *ngSwitchDefault></span>
        </ng-container>
      </div>
    </div>
  </div>
</div>